<div class="containerApartamento">
  <div class="row">
    <span class="link-voltar" routerLink="/apartamentos">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </span>
  </div>
  <div class="apartamento-form">
    <h1 style="font-size: 28px;"><strong>Apartamento</strong></h1>

    <div class="center-content">
      <div class="input-field col s2 espaco">
        <label style="font-size: 1em;" class="active" for="numeroApto">Número Apartamento</label>
        <input style="" id="numeroApto" type="text" class="validate"
               [(ngModel)]="numeroApartamento">
      </div>

      <div class="input-field col s2 espaco">
        <label style="font-size: 1em;" class="active" for="andar">Andar</label>
        <input style="" id="andar" type="text" class="validate"
               [(ngModel)]="andarApartamento">
      </div>

      <div class="input-field col s2 espaco" style="height:15px !important">
        <label style="font-size: 1em;" class="active" for="andar">Prédio</label>
        <mat-form-field class="meu-form-field">
          <!--<mat-label>Prédio</mat-label>-->
          <select matNativeControl required [(ngModel)]="predioId">
            <option *ngFor="let predio of predios" [value]="predio.id">{{ predio.nomePredio }}</option>
          </select>
        </mat-form-field>
      </div>

      <div class="input-field col s2" style="margin-bottom: 20px;">
        <button id="botao-incluir" #botaoIncluir  class="btn waves-effect waves-light btn-confirmar" style="margin-left: 20px" (click)="incluirDadosPredio()">Incluir</button>
        <button id="botao-alterar" #botaoAlterar class="btn waves-effect waves-light btn-confirmar" style="margin-left: 20px" (click)="alterarDadosPredio()">Alterar</button>
      </div>
    </div>

  </div>
</div>
